@*@model List<QLNS.Models.EF.ChatLuong>*@
@model PagedList.IPagedList<QLNS.Models.EF.ChatLuong>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@section header
{
    Danh sách chất lượng
}
    <div class="container">
        @using (Html.BeginForm("SearchThongTin", "ChatLuong"))
        {
            @Html.TextBox("search", null, new { @class = "search_texBox" })<input type="submit" value="Search" class="search_input" style="width: 80px;margin-right: 40px;    padding-right: 17px;">
        }

        <a href="/ChatLuong/Create" target="_blank" style="font-size: 30px;">Thêm mới chất lượng</a><br /><br />
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Mã chất lượng</th>
                    <th class="text-center">Tên chất lượng</th>
                    <th class="text-center">Phương pháp sản xuất</th>
                    <th class="text-center">Kĩ thuật đóng gói</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody style="color: black">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr id="row_@Model[i].ma_chat_luong">
                        <td class="text-center">@(i + 1)</td>
                        <td class="text-center">@Model[i].ma_chat_luong</td>
                        <td class="text-center">@Model[i].ten_chat_luong</td>
                        <td class="text-center">@Model[i].PP_SX</td>
                        <td class="text-center">@Model[i].KT_dong_goi</td>
                        <td class="text-center">
                            @*<a href="@Url.Action("Delete", new { id = Model[i].ma_chat_luong })"><i>Xóa</i></a>*@
                            @Ajax.ActionLink("Xóa", "Delete", new { @id = Model[i].ma_chat_luong }, new AjaxOptions
                               {
                                   Confirm = "Bạn có chắc chắn muốn xóa?",
                                   OnComplete = "$('#row_" + @Model[i].ma_chat_luong + "').remove()",
                                   HttpMethod = "Delete"
                               })
                            <a href="@Url.Action("Edit", new { id = Model[i].ma_chat_luong })"><i>Sửa</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />


        <!-- Thêm mã phân trang -->
        <br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
        <!-- Kết thúc -->
    </div>
