@model PagedList.IPagedList<QLNS.Models.EF.account>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@section header
{
    Danh sách người dùng
}

    <div class="container">
        @using (Html.BeginForm("SearchThongTin", "User"))
        {
            @Html.TextBox("search", null, new { @class = "search_texBox" })<input type="submit" value="Search" class="search_input" style="width: 80px;margin-right: 40px;    padding-right: 17px;">
        }

        <a href="/User/Create" target="_blank" style="font-size: 30px;">Thêm mới người dùng</a><br /><br />
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">UserName</th>
                    <th class="text-center">PassWord</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Ngày tạo</th>
                    <th class="text-center">Người tạo</th>
                    <th class="text-center">Ngày sửa</th>
                    <th class="text-center">Người sửa</th>
                    <th class="text-center">Phân quyền</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody style="color: black">

                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr id="row_@Model[i].ID">
                        <td class="text-center">@(i + 1)</td>
                        <td class="text-center">@Model[i].UserName</td>
                        <td class="text-center">@Model[i].PassWord</td>
                        <td class="text-center">@Model[i].email</td>
                        <td class="text-center">@Html.Name(@Model[i].ngay_tao.ToShortDateString())</td>
                        <td class="text-center">@Model[i].nguoi_tao</td>
                        <td class="text-center">@Html.Name(@Model[i].ngay_sua.ToShortDateString())</td>
                        <td class="text-center">@Model[i].nguoi_sua</td>
                        <td class="tinh-trang v-align-middle text-center">@string.Format("{0}", Model[i].tinh_trang == true ? "Admin" : "Người dùng")</td>
                        <td class="text-center">
                            @Ajax.ActionLink("Xóa", "Delete", new { @id = Model[i].ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn có chắc chắn muốn xóa?",
                                   OnComplete = "$('#row_" + @Model[i].ID + "').remove()",
                                   HttpMethod = "Delete"
                               })


                            @*<a href="@Url.Action("Delete", new { id = Model[i].ID })"><i>Xóa</i></a>*@
                            <a href="@Url.Action("Edit", new { id = Model[i].ID })"><i>Sửa</i></a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
        <br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
        <!-- Kết thúc -->
    </div>

