@model List<QLNS.Models.EF.Menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@section header
{
    Danh sách item Menu
}

    <div class="container">
        @using (Html.BeginForm("SearchThongTin", "Menu"))
        {
            @Html.TextBox("search", null, new { @class = "search_texBox" })<input type="submit" value="Search" class="search_input" style="width: 80px;margin-right: 40px;    padding-right: 17px;">
        }

        <a href="/Menu/Create" target="_blank" style="font-size: 30px;">Thêm mới item menu</a><br /><br />
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tiêu đề</th>
                    <th class="text-center">Link</th>
                    <th class="text-center">Loại menu</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody style="color: black">

                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr id="row_@Model[i].ID">
                        <td class="text-center">@(i + 1)</td>
                        <td class="text-center">@Model[i].tieu_de_menu</td>
                        <td class="text-center">@Model[i].link</td>
                        <td class="text-center">@Model[i].ID_loai_menu</td>
                        <td class="text-center">
                            @Ajax.ActionLink("Xóa", "Delete", new { @id = Model[i].ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn có chắc chắn muốn xóa?",
                                   OnComplete = "$('#row_" + @Model[i].ID + "').remove()",
                                   HttpMethod = "Delete"
                               })


                            @*<a href="@Url.Action("Delete", new { id = Model[i].ID })"><i>Xóa</i></a>*@
                            <a href="@Url.Action("Edit", new { id = Model[i].ID })"><i>Sửa</i></a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>

